.mainDivAPI{
    width: 70vw;
    height: 250px;
    align-self: center;
}

.countryInfoAPI{
    width: 100%;
    height: 100%;
    background-color: #DDA63A;
    border-radius: 25px;
}

.countryNameAPI{
    color: black;
    text-align: left;
    font-size: 40px;
    margin-left: 25px;
    padding-top: 10px;
}