.mainDivRandom-API{
    width: 70vw;
    height: 250px;
    align-self: center;
    background-color: #DDA63A;
    border-radius: 25px;
    margin: 10px;
}

.countryInfoRandom-API{
    width: 100%;
    height: 80%;
    color: black;
    text-align: center;
}

.countryNameRandom-API{
    color: black;
    font-size: 40px;
    padding-top: 10px;
}

.amountStarvingRandom-API{
    font-size: 25px;
}

.percentageStarvingRandom-API{
    font-size: 25px;
}

.buttonRandom-API{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.buttonDivRandom-API{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    width: 185px;
    height: 40px;
    margin-right: 10px;
    margin-left: auto;
}

.buttonDivRandom-API:hover{
    background-color: rgba(224, 224, 224, 0.986);
    transition: 0.2s ease-in-out;
}

.buttonImageRandom-API{
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}