.profileInfoContainer {
    display: flex;
}

.profileInfoBox {
    width: min-content;
    padding: 40px;
    height: min-content;
    border-radius: 5px;
    background-color: rgba(224, 224, 224, 0.986);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileInfo-h3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
