.profileInfoContainer {
    display: flex;
    justify-content: center;
}

.profileInfoBox {
    text-align: center;
    margin: 10px;
    background-color: rgba(224, 224, 224, 0.986);
    width: 30vw;
    padding: 40px;
    border-radius: 5px;

}

.profileInfo-h3 {
    color: black;
}
