.AboutCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.AboutCard {
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 120vh;
    padding: 40px;
    height: min-content;
    border-radius: 5px;
    background-color: rgba(224, 224, 224, 0.986);   
}

.AboutTitle {
    font-weight: bold;
}

.Left {
    margin-right: 65vh;
}

.Right {
    margin-left: 65vh;
}