.wrapperDonationBox {
    height: 50vh;
    width: 55%;
    margin-inline: auto;
}

.donate {
    width: auto;
    padding: 40px;
    height: min-content;
    border-radius: 5px;
    background-color: rgba(224, 224, 224, 0.986);
}

.DonationBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapperDonationBox form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.wrapperDonationBox .col {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.wrapperDonationBox .form-check-input {
    scale: 2;
}

.wrapperDonationBox .label {
    font-size: 1rem;
}

.wrapperDonationBox .form-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}