.userLogo {
    width: 60px;
    height: 60px;
    margin-left:65vw;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


LoginForm {
    position: absolute;
    top: calc(100% + 5px); /* Position it just below the user logo */
    left: 0;
}