.loginFormContainer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 17vw;
}

.LoginBox {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(224, 224, 224, 0.986);
}

.form-control {
    width: 15vw;
}

.register-login-wrapper {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: 10px;
}

.register {
    margin-right: 10vw;
}